:root {
    --transparent: transparent;
    --black: #22292f;
    --white: #fff;
    --white-50: hsla(0,0%,100%,.5);
    --danger: #e74444;
    --success: #21b978;
    --warning: #ffeb3b;
    --info: #03a9f4;
    --primary: #4099de;
    --primary-dark: #297ec0;
    --primary-70: rgba(64,153,222,.7);
    --primary-50: rgba(64,153,222,.5);
    --primary-30: rgba(64,153,222,.3);
    --primary-10: rgba(64,153,222,.1);
    --logo: #252d37;
    --sidebar-icon: #b3c1d1;
    --20: #f6fbff;
    --30: #f4f7fa;
    --40: #eef1f4;
    --50: #e3e7eb;
    --60: #bacad6;
    --70: #b3b9bf;
    --80: #7c858e;
    --90: #3c4b5f;
    --90-half: rgba(40,54,61,.5);
    --warning-light: #fff382;
    --warning-dark: #684f1d;
    --success-light: #c6f6d5;
    --success-dark: #38a169;
    --danger-light: #fed7d7;
    --danger-dark: #e53e3e;
    --info-light: #bee3f8;
    --info-dark: #3182ce;
}

html, body, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6, .uk-navbar-nav > li > a {
    font-family: Acrom;
    color: #636D79;
}
a, a:hover {
    text-decoration: none!important;
}

h2, .section_h {
    color: #39464E;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

header, .main {
    background: linear-gradient(84.8deg, #31404A -1.68%, #489ECF 108.41%);
}

.d_flex {
    display: flex;
}
.d_center {
    justify-content: center;
    align-items: center;
}
.d_left {
    justify-content: left;
    align-items: center;
}
.btn-primary {
    background-color: var(--primary);
    color: white;
    height: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2.25rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border: unset;
}
.btn-primary:hover {
    background-color: var(--primary-dark);
}

/*
Dashboard
*/

.dash_head, .dash_body, .dash_item {
    justify-content: space-between;
}
.dash_edit div {
    margin-left: 10px;
    fill: currentColor;
    color: whitesmoke;
}
.dash_edit svg {
    fill: var(--70);
}
.dash_container {
    width: 1200px;
    background-color: var(--white);
    padding: 20px 0;
    margin: 0 auto;
}
.dash_head {
    background-color: var(--30);
    font-weight: 800;
    font-size: .75rem;
    color: #7c858e;
    text-transform: uppercase;
    padding: 0.75rem;
    letter-spacing: .05em;
    border: solid 1px var(--50);
}
.dash_body {
    padding: 10px;
}
.dash_item {
    margin: 5px 0;
}
.dash_id {
    width: 10%;
}
.dash_created {
    width: 20%;
}
.dash_slug {
    width: 50%;
}
.dash_status {
    width: 15%;
}
.dash_edit {
    width: 15%;
}
.c_pointer {
    cursor: pointer;
}
.red_ring {
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
}
.green_ring {
    width: 20px;
    height: 20px;
    background: var(--success);
    border-radius: 50%;
}
