html, body, .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6, .uk-navbar-nav > li > a {
    font-family: Acrom;
    color: #636D79;
}
a, a:hover {
    text-decoration: none!important;
}

h2, .section_h {
    color: #39464E;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

header, .main {
    background: linear-gradient(84.8deg, #31404A -1.68%, #489ECF 108.41%);
}

.main .uk-grid > div > img {
    width: 620px;
}

section {
    padding: 60px 0;
    background-color: #fafafa;
    /*overflow: hidden;*/
}

section.main {
    padding: 0;
}

section.bg {
    background-color: #F2F2F2;
}

section.bg_2 {
    background-color: #EBF0F2;
}

.uk-card-default {
    background: #FFFFFF;
    box-shadow: 0px 9px 20px -13.9366px rgba(181, 191, 197, 0.5);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}

.uk-card-default .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 7px;
}

.uk-card-default.card_big {
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
    line-height: 1.6;
}

.uk-card-default.card_big .title {
    font-size: 20px;
}

.uk-card-default.card_medium {
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
}

.uk-card-default.card_medium .title {
    font-size: 18px;
}

.uk-card-default .text_wrapper {
    padding: 15px 15px 25px 15px;
    box-sizing: border-box;
}

.uk-card-default.card_big .text_wrapper,
.uk-card-default.card_medium .text_wrapper {
    padding: 20px 20px 30px 20px;
}

.img_shadow {
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
}

.img_shadow_wrapper {
    padding: 5px 12px 30px 12px;
}

.uk-slidenav {
    background-color: #4285AB;
    padding: 6px 10px;
}

.uk-slidenav svg {
    width: 10px;
}

.uk-slidenav-previous {
    margin-right: 3px;
}

.promo {
    background: linear-gradient(272.07deg, #3AB3E7 1.74%, #1B73AB 98.26%);
    color: #F2F2F2;
}

.promo h2 {
    color: #F2F2F2;
    margin-bottom: 0;
}

.no_padding_bottom {
    padding-bottom: 0;
}

.uk-button-primary {
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(89.02deg, #F03A00 0%, #D96C07 100%), linear-gradient(264.75deg, rgba(42, 137, 58, 0) -1%, #2A893A 84.1%), #35AB49;
    box-shadow: 0px 25px 20px -13.9366px rgba(44, 90, 118, 0.5);
    padding: 5px 30px;
    width: 380px;
    max-width: 100%;
}

.uk-button-primary.uk-width-1-1 {
    width: 100%;
}

.uk-button-primary:hover {
    background: linear-gradient(89.83deg, #FF6422 0.15%, #FF9635 99.85%);
    box-shadow: 0px 25px 20px -13.9366px rgba(50, 65, 75, 0.5);
}

.uk-button-primary:active, .uk-button-primary:focus {
    background: linear-gradient(89.83deg, #FF4D00 -1.16%, #EC7C15 99.85%);
    box-shadow: 0px 7px 20px -13.9366px rgba(50, 65, 75, 0.5);
}

.promo h3 {
    color: #F2F2F2;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 100px;
}

.promo .h3_subtitle {
    font-size: 20px;
    margin-bottom: 30px;
}

.promo .uk-list-bullet > ::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fafafa%22%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

.h2_subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

.price_item {
    padding: 30px 20px 35px;
    text-align: center;
    background: #FAFAFA;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
}

.price_item .title {
    font-size: 24px;
    line-height: 1;
    margin-bottom: 25px;
}

.price_item .title span {
    font-size: 14px;
    color: #A0ACBA;
}

.price_item .value {
    font-weight: 800;
    font-size: 30px;
    color: #3C93C6;
}

.tab_nav {
    margin-left: 0;
    justify-content: center;
}

.tab_nav li {
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #C6D0D7;
    padding: 3px;
    text-align: center;
}

.tab_nav li:not(:first-child) {
    border-left: none;
}

.tab_nav li:not(:last-child) {
    border-right: none;
}

.tab_nav li a {
    min-width: 290px;
    box-sizing: border-box;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 16px !important;
    color: #5D7D90 !important;
    text-align: center;
    justify-content: center;
}

.tab_nav li.uk-active > a {
    background-color: #4285AB;
    color: #FAFAFA !important;
}

.contact_section {
    padding-bottom: 0;
    padding-top: 0;
    background: linear-gradient(274.62deg, #50A6D7 3.74%, #1B73AB 96.26%);
}

.contact_section.only_form {
    background: #EBF0F2 !important;
}

.contact_section.only_form h2 {
    color: #39464E;
}

.contact_section .uk-container .uk-first-column > img {
    max-width: 676px;
}

.contact_wrapper {
    padding-right: 80px;
    padding-bottom: 30px;
}

.only_form .contact_wrapper {
    padding-bottom: 20px;
}

.contact_section h2 {
    font-size: 30px;
    font-weight: 700;
    color: #f2f2f2;
    margin-bottom: 12px;
    text-align: left;
    margin-top: 30px;
}

.contact_section .h2_subtitle {
    font-size: 20px;
    text-align: left;
    margin-bottom: 30px;
    color: #fafafa;
}

.img_btn_link {
    position: relative;
    display: block;
    overflow: hidden;
}

.img_btn_link .btn_wrapper {
    position: absolute;
    padding: 20px;
    bottom: -55px;
    color: #f2f2f2;
    width: 100%;
    transition: all ease .3s;
    box-sizing: border-box;
}

.img_btn_link:hover .btn_wrapper {
    bottom: 0;
}

.img_btn_link .btn_wrapper .title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.img_btn_link .btn_wrapper .subtitle {
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px;
}

.img_btn_link .btn_wrapper .uk-button {
    background-color: #f2f2f2;
    text-transform: none;
    min-width: 234px;
    text-align: center;
    font-size: 16px;
    color: #39464E;
    line-height: 33px;
}

h1 {
    margin-top: 15px;
    font-size: 36px;
    font-weight: 700;
    color: #f2f2f2;
    margin-bottom: 50px;
}

.main {
    color: #EDEDED;
    font-size: 20px;
    line-height: 1.2;
}

.main .subtitle {
    color: #8FABBC;
    font-size: 17px;
    font-weight: 700;
}

footer {
    padding-top: 50px;
    color: #F2F2F2;
    background: linear-gradient(0deg, #31404A, #31404A), linear-gradient(87.4deg, #31404A 0%, #3C93C6 129.02%), linear-gradient(256.92deg, #BA2B2B -51.44%, #39464E 87.05%);
}

footer .info {
    text-align: center;
    padding: 30px 0;
    color: #5D7D90;
    border-top: 1px solid #5D7D90;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
}

.footer_link_title {
    color: #B6B7B7;
    font-size: 13px;
    font-weight: 400;
}

.footer_link {
    font-size: 18px;
    color: #F2F2F2;
    text-decoration: none !important;
}

.footer_link:hover {
    color: #67ACD5;
}

footer .uk-nav-header {
    white-space: nowrap;
    color: #B6B7B7 !important;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
}


.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle {
    min-height: 60px;
}

/*header {*/
/*    border-bottom: 1px solid #C5C5C5;*/
/*}*/

header .uk-navbar-nav > li > a {
    color: #EDEDED;
    font-size: 11px;
    font-weight: 400;
}

header .uk-dropdown {
    background: #F2F2F2;
    box-shadow: 0px 25px 20px -13.9366px rgba(88, 118, 137, 0.2);
    padding: 0;
}

header .uk-navbar-nav > li.uk-active > a {
    font-weight: 700;
    color: #EDEDED;
}

.header_dropdown_grid > div:first-child .header_dropdown_menu_block {
    padding-left: 40px;
}

.header_dropdown_grid > div:last-child .header_dropdown_menu_block {
    padding-right: 40px;
}

.header_dropdown_menu_block {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_dropdown_menu_block .uk-nav-header {
    font-weight: 700;
    font-size: 15px;
    color: #8FABBC;
    text-transform: none;
}

.header_dropdown_menu_block .uk-nav-default > li > a {
    color: #636D79;
    font-size: 13px;
    font-weight: 400;
}

.header_dropdown_menu_block .uk-nav-default > li.uk-active > a {
    color: #3C93C6;
}

header .uk-navbar-right li {
    border-left: 1px solid #C5C5C5;
}


header .uk-navbar-right li a img {
    margin-right: 3px;
}

header .uk-navbar-right li a {
    font-weight: 500;
}

header .uk-navbar-right li a.phone {
    font-size: 12px;
    font-weight: 400;
}

header .uk-navbar-right li a.phone span {
    font-size: 16px;
    margin-top: -2px;
}

.lk_btn_wrapper {
    border-left: none !important;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    margin-left: 15px;
    margin-left: 15px;
}

.lk_btn_wrapper a {
    min-height: auto !important;
    border: none !important;
    background-color: #78B3D6;
    color: #155D87 !important;
    font-size: 11px;
    font-weight: 400 !important;
    text-transform: none !important;
    height: 30px;

}

.lk_btn_wrapper a:hover {
    background-color: #9DCAE5;
}

.lk_btn_wrapper a:active, .lk_btn_wrapper a:focus {
    background-color: #67ACD5;
}

.main:before {
    /*width: 925px;*/
    height: 297px;
    display: block;
    content: '';
    background: url("../img/ns_bg_1.png");
    position: absolute;
    left: 0;
    bottom: 0;
}

.contact_section:before {
    width: 925px;
    height: 297px;
    display: block;
    content: '';
    background: url("../img/ns_bg_2.png");
    position: absolute;
    right: 0;
    bottom: 0;
}

.pattern_white {
    position: relative;
}


.pattern_white:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 155px;
    background-image: url("../img/pattern_white.svg");
    background-position: top center;
    background-repeat: repeat-y;
}

.main .pattern_white:after {
    top: 0;
    bottom: 0;
}

.pattern_right:after {
    right: -37px;
}

.pattern_left:after {
    left: -37px;
}

.pattern_dark {
    position: relative;
}

.pattern_dark > * {
    position: relative;
    z-index: 2;
}

.pattern_dark:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 188px;
    background-image: url("../img/pattern_dark.svg");
    background-position: top center;
    background-repeat: repeat-y;
    background-size: contain;
}

.pattern_dark:after {
    left: 50%;
    right: auto;
    margin-left: -700px;
}

.pattern_dark_right:after {
    right: 50%;
    left: auto;
    margin-right: -700px;
}

.uk-navbar-nav > li:hover > a {
    font-weight: bold;
    color: #F2F2F2;
}

.uk-navbar-nav > li:active > a, .uk-navbar-nav > li:focus > a {
    font-weight: bold;
    color: #EBF0F2;
}

.mobile_sticky_menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EEF3F5;
    color: #5D7D90;
    text-align: center;
    font-size: 9px;
    z-index: 1021;
}

.mobile_slider {
    overflow: unset !important;
    padding-bottom: 20px;
}

.mobile_menu_accordion {
    margin-bottom: 0;
}

.mobile_menu_accordion a {
    display: block;
    padding: 10px 15px;
}

.mobile_menu_accordion .uk-accordion-title,
.mobile_menu_accordion .link {
    font-size: 16px;
    text-transform: uppercase;
    color: #587689;
    font-weight: 400;
    border-bottom: 1px solid #DCE5EA;
}

.mobile_menu_accordion .link:hover, .mobile_menu_accordion .link:active,
.mobile_menu_accordion .link:focus {
    text-decoration: none;
}

header .uk-navbar-right .mobile_menu_accordion li {
    border-left: none;
    position: relative;
}

.mobile_menu_accordion > :nth-child(n+2) {
    margin-top: 0;
}

.uk-accordion-title::before {
    content: "";
    width: 32px;
    height: 15px;
    margin-left: auto;
    float: none;
    background-image: url("../img/svg/arrow_mob_down.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: block;
    position: absolute;
    top: 15px;
    right: 7px;
}

.uk-open > .uk-accordion-title::before {
    background-image: url("../img/svg/arrow_mob_up.svg")
}

.main_img::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 72px;
    height: 100%;
    /*width: 155px;*/
    background-image: url("../img/home/block_1/rect.svg");
    background-position: top center;
}

.mobile_menu_accordion .uk-accordion-content {
    margin-top: 0;
    background-color: #EDEDED;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.mobile_menu_accordion .uk-accordion-content .uk-nav-header {
    margin-top: 20px;
    color: #587689;
    font-size: 15px;
    font-weight: bold;
}

.mobile_menu_accordion .uk-accordion-content a {
    color: #636D79;
    font-size: 13px;
    font-weight: 400;
}

.mobile_menu_accordion .uk-open .uk-accordion-title {
    font-weight: bold;
}

header nav .footer {
    padding: 15px;
    background: linear-gradient(87.37deg, #31404A -6.69%, #3C93C6 117.01%);
    color: #EDEDED;
}

header nav .footer .title {
    font-size: 13px;
    font-weight: 300;
    color: #EDEDED;
}

header nav .footer a {
    font-weight: 500;
    color: #EDEDED;
    font-size: 15px;
}

.menu_social_wrapper {
    margin-top: 15px;
}

.menu_open {
    display: none;
}

a[aria-expanded=true] .menu_open {
    display: block;
}

a[aria-expanded=true] .menu_close {
    display: none;
}

.mobile_menu_trigger {
    box-sizing: border-box;
    width: 44px;
}

.left_block {
    padding-top: 15px;
    padding-bottom: 20px;
}

.pay_section h1, .bg_white h1 {
    text-align: center;
    color: #39464E;
    margin-bottom: 30px;
}

.bg_white h1, .pay_section .bg_white h2, .pay_section .bg_white h3 {
    color: #373C48;
}

.pay_section .inner {
    max-width: 616px;
    margin: auto;
}

.pay_section .card {
    padding: 40px 70px;
    background-color: #EBF0F2;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
    position: relative;
}

.pay_section h2 {
    font-size: 24px;
    color: #636D79;
    text-align: left;
    font-weight: 400;
    margin-bottom: 30px !important;
    text-transform: none;
}

.pay_section .card .remove_btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.pay_section .add_btn {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    padding-right: 70px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #4285AB;
}

.pay_section .add_btn span {
    font-size: 28px;
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    background: #4285AB;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
    position: absolute;
    right: 0;
    top: -2px;
    margin-top: -7px;
    text-align: center;
    line-height: .8;
    padding-top: 11px;
    box-sizing: border-box;

}

.input_required_wrapper {
    position: relative;
}

.input_required_wrapper label span {
    color: red !important;
    display: none;
}

.input_required_wrapper input:focus + label {
    display: none;
}

.input_required_wrapper label {
    display: inline-block;
    position: absolute;
    top: 8px;
    cursor: pointer;
    left: 15px;
    height: 22px;
    width: 149px;
    color: #587689;
}

.input_required_wrapper input:valid + label {
    display: none;
}

.pay_section .uk-input, .pay_section .uk-select {
    border: 1px solid #B6B7B7;
}

.input_required_wrapper .phone_mask:hover + label,
.input_required_wrapper .date_mask:hover + label {
    display: none;
}

.pay_section .agree_text {
    font-size: 14px;
    font-weight: normal;
    color: #636D79;
}

.required_select:invalid:before {
    content: '*';
    position: absolute;
    color: red;
}

.pay_agree_meta {
    font-size: 15px;
    font-weight: 400;
}

.pay_section .product_item {
    background-color: #5D7B8F;
    color: #EDEDED;
    padding: 20px;
}

.pay_section .bg_white .product_item {
    color: #fff;
}

.pay_section .product_item .price {
    font-size: 25px;
}

.pay_section .address_title {
    font-weight: 500;
}

.pay_section .total {
    font-size: 30px;
    font-weight: bold;
}

.pay_section h3 {
    font-size: 20px;
}

.pay_section .address_title {
    color: #30414C;
    font-size: 20px;
    font-weight: 600;
}

.pay_section .address_text {
    color: #30414C;
    font-size: 20px;
    font-weight: 300;
}

.pay_section .total {
    color: #39464E;
    font-size: 30px;
}

.pay_section .total h3 {
    color: #636D79;
    font-size: 30px;
}

.uk-input, .uk-select, .uk-textarea {
    color: #587689;
}

.pay_agree_meta {
    color: #636D79;
    font-size: 12px;
    font-weight: 300;
}

.pay_section .uk-button-primary {
    width: 380px;
    max-width: 100%;
}

#map, .map {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.map {
    height: 482px;
}

.no_dmd .map {
    height: 395px;
}

[class*=ymaps-2][class*=-ground-pane] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

.map_wrapper {
    position: relative;
}

.tab_title {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}

.map_tab_item {

    background-color: #fff;
    margin-bottom: 15px;
}


.uk-tab > * > a.map_tab_item {
    text-transform: none;
    color: #3D5667;
    font-size: 14px;
    font-weight: 400;
    padding: 11px;
}

.uk-active > a.map_tab_item {
    background-color: #4285AB !important;
    color: #fff !important;
    margin-right: -15px;
}

.map_tab_item .title {
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    font-size: 16px;
}

.map_tab_item .title img {
    position: absolute;
    left: 0;
    top: -2px;
}

.map_with_konkovo .map {
    height: 566px;
}

.map_with_konkovo.map_with_yantar .map {
    height: 636px;
}

.map_with_konkovo.map_with_filatov .map {
    height: 615px;
}

.map_tab_item {
    display: block !important;
    font-size: 14px;
}

.uk-tab-left::before {
    display: none;
}

.doc_item {
    display: flex;
    box-sizing: border-box;
    min-height: 110px;
    padding: 10px 20px;
    background: #EBF0F2;
    box-shadow: 0px 20px 25px rgba(181, 191, 197, 0.5);
    font-size: 20px;
    color: #636D79;
    margin-bottom: 40px;
    align-items: center;
    font-weight: 400;
}

.doc_item > div {
    width: 100%;
}

.file_btn {
    color: #4285AB;
    border: 1px solid #4285AB;
    padding: 5px 40px;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    transition: all ease .3s;
}

.doc_item:hover .file_btn {
    background-color: #4285AB;
    color: #fff;
}

.contact_item {
    font-size: 24px;
    color: #636D79;
}

.contact_item .title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.contact_item svg {
    margin-top: -3px;
}

.uk-card-default.only_title .title {
    margin-bottom: 0;
}

.uk-card-default.only_title .text_wrapper {
    padding-bottom: 20px;
}

.tag_wrapper {
    margin-bottom: 50px;
}

.tag_wrapper a {
    font-size: 16px;
    font-weight: bold;
    color: #3C93C6;
}

.tag_wrapper a:hover, .tag_wrapper a:active, .tag_wrapper a:focus {
    text-decoration: none;
    color: #B4BABD;
}

.tag_wrapper a.active, .tag_wrapper a.uk-active {
    cursor: default;
    color: #B4BABD;
}

.news_card .wrapper {
    padding: 30px;
}

.news_card .text_wrapper {
    padding: 0 !important;
}

.news_card .text_wrapper p:last-child {
    margin-bottom: 0;
}

.news_card .uk-button {
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid #4285AB;
    text-transform: none;
    font-size: 18px;
    color: #4285AB;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all ease .3s;
}

.news_card .uk-button:hover, .news_card .uk-button:active, .news_card .uk-button:focus {
    background-color: #4285AB;
    color: #fff;
}

.uk-pagination > * > * {
    border: 1px solid #4285AB;
    font-size: 14px;
    font-weight: 400;
    color: #4285AB;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 15px;
}

.uk-pagination .arrow {
    background-color: #4285AB !important;
    line-height: 1;
}

.uk-pagination > .uk-active > *, .uk-pagination > * > *:hover {
    background-color: #EBF0F2;
    border-color: #EBF0F2;
    color: #39464E;
}

.uk-pagination .arrow:hover, .uk-pagination .arrow:active, .uk-pagination .arrow:focus {
    background-color: #31404a !important;
    border-color: #31404a !important;
}

.news_container, .small_container {
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

.text-medium {
    font-size: 20px;
}

.uk-button-secondary {
    background: #4285AB;
    box-shadow: 0px 25px 20px -13.9366px rgba(44, 90, 118, 0.5);
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    padding: 5px 36px;
    width: 380px;
    max-width: 100%;
}

.uk-button-secondary:hover {
    background: #3C93C6;
}

.uk-button-secondary:active, .uk-button-secondary:focus {
    background: #1B73AB;
}

.uk-button-primary:disabled {
    background: linear-gradient(89.83deg, #F2F2F2 0.15%, #EBF0F2 99.85%);
    box-shadow: 0px 20px 20px -13.9366px rgba(50, 65, 75, 0.5);
    color: #B4BABD;
}

.icon_wrapper {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.form_error {
    padding: 10px 30px;
    color: #741e1e;
    border: 1px solid #741e1e;
    background-color: #f4ebeb;
    margin-bottom: 15px;
    display: none;
}

.form_success {
    padding: 10px 30px;
    color: #194e19;
    border: 1px solid #194e19;
    background-color: #ebf7eb;
    margin-bottom: 15px;
    display: none;
}

.uk-modal-title {
    font-size: 1.5rem;
    color: #8FABBC;
}

.uk-modal-title .subtitle {
    font-size: 1rem;
}

.font_large {
    font-size: 20px;
}

.only_form .meta {
    font-size: 15px;
    margin-top: 30px;
}

.b24-widget-button-wrapper.b24-widget-button-position-bottom-right.b24-widget-button-visible {
    bottom: 150px;
    right: 30px;
}

.addr_header_item a {
    color: #636D79 !important;
    text-decoration: none !important;
}

.addr_header_item a .title {
    font-size: 14px;
    font-weight: 700;
}

.addr_header_item a .text {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 300;
}

.no_border {
    border: none !important;
}

.addr_header_item {
    margin-bottom: 20px !important;
}

.label_for_input {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
}

.ya_star {
    color: red;
}

.red_asterix_input:valid + .label_for_input, .red_asterix_input:focus + .label_for_input {
    display: none;
}

.agree_checkbox {
    font-size: 12px;
    color: #fafafa;
    margin-bottom: 15px;
}

.uk-modal-dialog .agree_checkbox {
    color: #587689;
}

.uk-checkbox:checked, .uk-checkbox:indeterminate, .uk-radio:checked,
.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
    background-color: #ff5920;
}

.content_card {
    line-height: 1.2 !important;
}

.sbory_day_card {
    background-color: #fff;
    padding: 30px 15px;
}

.sbory_day_item {
    padding: 6px 2px;
    background-color: #EBF0F2;
    font-size: 14px;
    text-align: center;
}

.review_slider_item {
    font-size: 15px;
    color: #636D79;
    background: #FFFFFF;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
    padding: 25px 20px;
    font-weight: 400;
    line-height: 1.3;
}

.review_slider_item .title {
    font-weight: 700;
    margin-bottom: 15px;
}

.review_slider_item .meta {
    font-size: 14px;
    line-height: 1.2;
    margin-top: 30px;
}

.review_slider_item .meta img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.map_addr_item {
    font-family: Acrom !important;
}

.map_addr_item .title {
    font-weight: bold;
    margin-bottom: 2px;
    white-space: nowrap;
    color: #39464E;
}

.map_addr_item .text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #636D79;
}

.map_addr_item svg {
    margin-top: -3px;
}

.map_addr_item .title.uk-margin {
    margin-bottom: 20px;
}

.map_toggle {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    box-shadow: 0px 15px 10px -13.9366px rgba(181, 191, 197, 0.2);
}

.map_toggle.active {
    background-color: #EBF0F2;
}

.map_toggle img {
    width: 70px;
    height: 70px;
}

.map_toggle .title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

.map_toggle .title svg {
    margin-top: -2px;
}

.info_page {
    max-width: 780px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
}

.info_page .subtitle {
    font-size: 20px;
    font-weight: 500;
}

.info_page h3 {
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}

.tax_card {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 25px 20px -13.9366px rgba(62, 115, 148, 0.5);
    font-size: 24px;
}

.tax_card .uk-button,
.coach_card .uk-button,
.pilon_adults .uk-button {
    box-shadow: none;
    margin-top: 45px;
    background-color: transparent;
    border: 1px solid #4285AB;
    color: #4285AB;
}

.coach_card .uk-button {
    margin-top: 20px;
}

.tax_card .uk-button:hover,
.coach_card .uk-button:hover,
.pilon_adults .uk-button:hover {
    background-color: #4285AB;
    color: #fff;
}

.tax_card_section {
    background-color: #EBF0F2;

}

h2 + .price_section_subtitle {
    text-align: center;
    font-size: 18px;
    margin-top: -25px;
    margin-bottom: 40px;
}

.price_section_subtitle a {
    color: #3C93C6;
    margin-left: 20px;
    font-weight: bold;
}

.price_section_subtitle a:hover, .price_section_subtitle a:active, .price_section_subtitle a:focus {
    color: #ff5920;
    text-decoration: none;
}

.old_price {
    text-decoration: line-through;
    color: #EE3E01;
    text-align: center;
    font-size: 14px;
}

.price_meta {
    font-weight: 400;
    color: #3C93C6;
}

/*#map_new, #map_new_toggle {*/
/*    height: 600px;*/
/*}*/
#map_new_toggle {
    overflow: auto;
    padding-right: 15px;
}

.simplebar-track {
    background-color: #EDEDED;
}

.simplebar-scrollbar::before {
    background-color: #4285AB;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
}

.simplebar-track.simplebar-vertical {
    width: 5px;
}

.pay_section .total .meta {
    font-size: 20px;
}

.contact_section.only_form .agree_checkbox {
    color: #636D79;
}

.form_with_required .input_required_wrapper label span {
    display: inline;
}

.select_required_label {
    width: 220px !important;
    pointer-events: none;
}

.navbar_btn {
    background-color: transparent;
    min-width: 120px;
    font-size: 11px;
    color: #F2F2F2;
}

.navbar_btn:hover {
    font-weight: bold;
    color: #F2F2F2;
}

/* Lazyload iframe YOUtube */

.youtube {
    background-color: #000;
    margin-bottom: 30px;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.youtube img {
    width: 100%;
    top: -16.82%;
    left: 0;
    opacity: 0.7;
}

.youtube .play-button {
    width: 90px;
    height: 60px;
    background-color: #333;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    z-index: 1;
    opacity: 0.8;
    border-radius: 6px;
}

.youtube .play-button:before {
    content: "";
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #fff;
}

.youtube img, .youtube .play-button {
    cursor: pointer;
}

.youtube img, .youtube iframe, .youtube .play-button, .youtube .play-button:before {
    position: absolute;
}

.youtube .play-button, .youtube .play-button:before {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.loop_overlay_wrapper:hover .loop_overlay {
    display: flex !important;
}

.review_card {
    font-size: 12px;
    font-weight: 400;
}

.review_card .name {
    font-size: 18px;
    font-weight: 500;
    color: #587689;
    margin-bottom: 15px;
}

.review_card .title {
    text-transform: uppercase;
    font-size: 14px !important;
    font-weight: 700;
}

.review_card .date {
    font-size: 14px;
}

.review_card .star_value {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
}

.dislike img {
    transform: rotate(180deg);
}

.review_card .like_val {
    font-size: 14px;
    font-weight: 700;
    margin-left: 5px;
}

.review_form {
    max-width: 785px;
    margin: auto;
}

/* рейтинг для клика */


.rating-area {
    overflow: hidden;
    width: 170px;
    margin: 0 auto;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 33px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: #dedfe1;
}

.rating-area:not(:checked) > label:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 24px;
    background-image: url("../img/star_empty.svg");
    background-size: cover;
}

.rating-area > input:checked ~ label:before,
.rating-area:not(:checked) > label:hover:before,
.rating-area:not(:checked) > label:hover ~ label:before,
.rating-area > input:checked + label:hover:before,
.rating-area > input:checked + label:hover ~ label:before,
.rating-area > input:checked ~ label:hover:before,
.rating-area > input:checked ~ label:hover ~ label:before,
.rating-area > label:hover ~ input:checked ~ label:before {
    background-image: url("../img/star_fill.svg");
}


.rate-area > label:active {
    position: relative;
}

.review_form .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.review_form textarea {
    height: 123px;
}

.review_form .uk-checkbox:checked,
.review_form .uk-checkbox:indeterminate,
.review_form .uk-radio:checked,
.review_form .uk-checkbox:checked:focus,
.review_form .uk-checkbox:indeterminate:focus,
.review_form .uk-radio:checked:focus {
    background-color: #4285AB;
}

.review_form .agree_checkbox {
    color: inherit;
}

.alert-danger {
    color: red;
    line-height: 1.1;
}

.rating_common_val {
    font-size: 30px;
    color: #e8ad55;
    font-weight: 700;
    line-height: 1;
}

.common_star {
    width: 30px;
}

.review_scroll_btn {
    max-width: 250px;
}

.filepond--drop-label {
    border: 1px dashed #636D79;
    margin-bottom: 10px;
}

.filepond--panel-root {
    background: #ebf0f2;
}

.filepond--list.filepond--list {
    margin-top: 20px;
}

.filepond--drop-label.filepond--drop-label label {
    font-weight: 300;
}

.review_like, .review_dislike {
    opacity: .35;
    cursor: pointer;
}

.review_like:hover, .review_dislike:hover {
    opacity: .7;
}

.review_like.checked, .review_dislike.checked {
    cursor: default;
}

.review_like.checked:hover, .review_dislike.checked:hover {
    opacity: .35;
}

.review_like.active, .review_dislike.active {
    opacity: 1 !important;
}

.link {
    color: #4285AB;
    text-decoration: underline;
    font-weight: 700;
}

.park_icon_wrapper svg {
    margin-top: -2px;
}

.rating_img {
    width: 50px;
    margin-right: 15px;
}

.vs__dropdown-toggle {
    background-color: #fff;
    border-radius: 0;
    border-color: #e5e5e5 !important;
    padding: 3px 0 7px;
}

.vs__dropdown-toggle :focus:not([tabindex^="-"]) {
    outline: none;
}

.vs__dropdown-toggle svg {
    max-width: none;
}

.vs__dropdown-menu {
    z-index: 9999999;
}

.seo_container {
    width: 783px;
    margin: 0 auto;
}

.seo_h1 {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #39464E;
    margin-top: 0px;
}

.seo_img img, .seo_img div {
    width: 100%;
    height: 504px;
    object-fit: cover;
}

.seo_text {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #636D79;
}

.seo_h2 h2 {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #636D79;
    text-align: center;
    margin: 40px 0 20px;

}

.seo_text ol li {
    margin-top: 10px;
}

.seo_text ul li {
    margin-top: 10px;
}

.seo_offer {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #39464E;
}

.seo_h3 h3 {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: #39464E;
    margin-bottom: 50px;
}

.d_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.over_hidden {
    overflow: hidden;
}

.d_flex {
    display: flex;
}

.f_wrap {
    flex-wrap: wrap;
}

.tax_card_50_pct {
    width: 50%;
}

.tax_card_wrap_info {
    padding: 20px;
}

.wrap_tc_info {
    width: 95%;
    margin: 0 auto;
}

.wrap_trainer_img_mob, .wrap_trainer_img_mob_568, .show_min_650 {
    display: none;
}

.trainer_btn_mob {
    width: 285px !important;
    height: 45px !important;
    font-size: 15px;
    text-align: center !important;
    padding: 5px 10px;
    display: none;
    position: absolute;
    bottom: 20px;
    background: linear-gradient(89.02deg, #F03A00 0%, #D96C07 100%), linear-gradient(264.75deg, rgba(42, 137, 58, 0) -1%, #2A893A 84.1%), #35AB49;
    box-shadow: 0px 25px 20px -13.9366px rgba(121, 133, 141, 0.5);
}

.live_slide_size {
    width: 70%;
}

.live_slide_size .text_wrapper {
    margin-bottom: 25px;
    min-height: 100px;
}

.wrap_map_map {
    width: 70%;
}

.wrap_map_adress {
    width: 30%;
}

.wrap_map_height {
    height: 600px;
    overflow: hidden;
}

.wrap_map {
    display: flex;
}

.wrap_cont {
    width: 48%;
}

.wrap_contact {
    display: flex;
    justify-content: space-between;
}

.wrap_contact_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrap_contact_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrap_contact_img {
    display: none;
}

.wrap_contact_img_main img {
    position: absolute;
    bottom: 0;
    width: 45%;
    z-index: 0;
}

.cover_fit {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about_head {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #39464E;
}

.about_text {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #636D79;
    margin-top: 40px;
}

.wrap_about {
    width: 783px;
    margin: 0 auto;
    color: #636D79;
}

.wrap_about_head {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-top: 40px;
}

.wrap_about_text {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.wrap_today_head {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #39464E;
    margin-bottom: 50px;
}

.today_card_info {
    margin-left: 20px;
}

.today_card {
    width: 333px;
    height: 66px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 9px 20px -13.9366px rgba(181, 191, 197, 0.5);
    margin-bottom: 20px;
}

.card_info_num {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.card_info_text {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.wrap_today_eggs {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}

.wrap_swit_comp {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 16px !important;
    text-align: center;
    color: #3C93C6 !important;
    line-height: 110% !important;
    text-transform: none !important;
    cursor: pointer;
    margin: 10px;
}

.uk-active .wrap_swit_comp {
    background-color: transparent !important;
    color: #B4BABD !important;
}

.wrap_swit_column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;

    width: 137px;
    min-height: 100px;
}

.swit_line {
    border: 1px solid #B8B8B8;
    width: 30%;
}

.swit_column {
    margin-top: 20px;
    width: 100%;
    background-color: #334856;
    height: 60px;
}

.swit_column_6 {
    background: #4696C4;
    height: 354px;
}

.swit_column_7 {
    background: #D8E1E4;
    height: 396px;
}

.swit_year {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 110%;
    /* identical to box height, or 20px */
    text-align: center;
    color: #354958;

}

.swit_num {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #354958;
    width: 100%;
}

.wrap_swit_year {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.swit_column_flex {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.wrap_partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.partners {
    margin: 20px 10px;
    width: 215px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners img {
    height: 100%;
}

.wrap_children {
    font-family: 'Acrom';
    font-style: normal;
    font-size: 15px;
    line-height: 110%;
    color: #636D79;
    width: 373px;
    background: #FFFFFF;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
}

.child_img {
    width: 373px;
    height: 276px;
    object-fit: cover;
}

.about_li_margin li {
    margin: 10px 0;
}

/*.child_img img {*/
/*    object-fit: cover;*/
/*}*/
.overflow-hidden {
    overflow: hidden;
}

.children_title {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #636D79;
    margin-top: 10px;
}

.nap_main_text {
    font-size: 15px;
    margin-top: 20px;
}

.child_text {
    padding: 20px;
    min-height: 300px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.swip_show_mob, .partn_show_mob {
    display: none !important;
}

.wrap_children_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.d_none {
    display: none;
}

.switch_active {
    color: #B4BABD !important;
}

.switcher_body {
    display: none;
}

.switcher_body_active {
    display: block;
}

.rev-container {
    width: 1200px;
    margin: 0 auto;
}

.about_width {
    width: 373px;
}

.news_mt {
    margin-top: unset !important;
    padding: unset;
}

/*.children_container {*/
/*    width: 100%;*/
/*}*/
.rev_card_link_collor {
    color: #4285AB !important;
}

.rev_card_link_collor:hover {
    color: #3C93C6 !important;
}

.s_tran_2 {
    width: 100%;
    height: 20px;
}

.s_tran_6 {
    width: 100%;
    height: 60px;
}

.s_tran_12 {
    width: 100%;
    height: 120px;
}

.s_tran_21 {
    width: 100%;
    height: 210px;
}

.s_tran_27 {
    width: 100%;
    height: 270px;
}

.s_tran_31 {
    width: 100%;
    height: 310px;
}

.s_tran_36 {
    width: 100%;
    height: 360px;
}

.wrap_swit_column {
    width: 100%;
    height: 400px;
    position: relative;
    /*margin: 40px 20px 20px 20px;*/
}

.wrap_swit_column_ {
    width: 100%;
    margin: 20px;
}

.wrap_swit_num {
    position: absolute;
    top: -35px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #354958;
    width: 100%;
}

.mt-4 {
    margin-top: 40px;
}

.mt-1 {
    margin-top: 10px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mr-2 {
    margin-right: 20px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-1_rub {
    margin-left: 10px;
}

.ml-7_rub {
    margin-left: 7px;
}

.nebo_svg {
    position: absolute;
    width: 575px;
    height: 150px;
    bottom: 145px;
    left: -250px;
}

.sport_svg {
    position: absolute;
    width: 722px;
    height: 150px;
    bottom: 0;
    left: -45px;
}

.uppercase {
    text-transform: uppercase;
}

.benefit_show_mob {
    display: none;
}

.height_100pct {
    height: 100%;
}

.wrap_seo_img {
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
}

.seo_img_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.seo_img_content {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seo_content {
    font-weight: 700;
    font-size: 30px;
    margin-top: 100px;
    width: 90%;
    line-height: 25px;
    text-align: center;
}

.seo_img_btn {
    width: 380px;
    height: 50px;
    background: linear-gradient(0deg, #F2F2F2, #F2F2F2), #4285AB;
    box-shadow: 0px 25px 20px -13.9366px rgba(44, 90, 118, 0.5);
    font-size: 18px;
    line-height: 49px;
    text-align: center;
    color: #39464E;
    margin-top: 60px;
    cursor: pointer;
    font-weight: 500;
}

.seo_img_main {
    position: absolute;
    width: 100%;
    height: 100%;
}

.seo_img_main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap_seo_btn a {
    text-decoration: none !important;
}

.sign_nebo {
    position: absolute;
    width: 925px;
    height: 297px;
    bottom: 0;
    z-index: 0;
}

.sign_nebo img {
    width: 100%;
    height: 100%;
}

.z-1 {
    z-index: 1;
}

.wrap_accord_qst {
    min-height: 110px;
    background: #EBF0F2;
    box-shadow: 0px 20px 25px rgba(181, 191, 197, 0.5);
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    color: #636D79;
    padding: 10px;
}

.accord_qst {
    width: 100%;
    padding: 0 30px;

}

.accord_ans {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #636D79;
    height: 100%;
}

.wrap_accord_ans {
    min-height: 110px;
    background: linear-gradient(0deg, #FAFAFA, #FAFAFA), #EBF0F2;
    box-shadow: 0px 20px 25px rgba(181, 191, 197, 0.5);
    margin-top: 0 !important;
    padding: 0 30px;
}

.accord_main li {
    position: relative;
}

.layout_liga_menu {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #636D79;
}

.layout_liga_menu a {
    text-decoration: none !important;
    color: #636D79;
}

.layout_info {
    line-height: 28px;
    margin-left: 10px;
}

.seo_img_btn:hover {
    background: #4285AB;
    color: white;
}

.cursor_pointer {
    cursor: pointer;
}

.fb_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.open_roz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.roz_item {
    width: 387px;
    height: 113px;
    background: #FFFFFF;
    box-shadow: 0px 20px 25px rgba(181, 191, 197, 0.5);
    display: flex;
    align-items: center;
}

.roz_item_title {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 110%;
    text-transform: uppercase;
    color: #636D79;
    margin: 30px;
}

.roz_subtitle {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #636D79;
    margin-top: 40px;
}

.open_img {
    width: 270px;
    height: 270px;
}

.roz_item_icon img {
    width: 90px;
    height: 90px;
}

.open_select {
    text-transform: uppercase;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.2134 1.07107L8.14233 8.14214L1.07127 1.07107' stroke='%23F2F2F2' stroke-width='2'/%3e%3c/svg%3e"),
    linear-gradient(to bottom, #4285AB 70%, #4285AB 100%) !important;
    background-position: 95% 50% !important;
    margin-bottom: 30px;
    font-family: 'Acrom';
    font-weight: 700;
    color: whitesmoke;
    background-color: #4285AB;
}

.show_mob {
    display: none;
}

.wrap_banner img {
    height: 51px;

}

.wrap_banner {
    background-color: #de5f4e;
}

.seo_12_h1 {
    margin-top: 38px;
}

.first_head {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 115%;
    text-align: center;
    text-transform: uppercase;
    color: #39464E;
    margin: 70px 0;
}

.second_head {
    font-size: 24px !important;
    text-align: left !important;
}

.seo_12_let {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}

.seo_12_let > li:before {
    display: inline-block;
    content: "-";
    width: .5em;
    margin-left: -1em;
}

.breadcrump_base {
    position: absolute;
    margin-top: 20px;
}

.breadcrump_base a:hover {
    text-decoration: none;
    color: #78B3D6;
}

.breadcrump_margin {
    margin-top: 15px;
}

.flex_bottom {
    display: flex;
    bottom: 0;
}

#ya_banner {
    width: 618px;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -309px;
    z-index: 99999;
}

.ya_hide_banner {
    position: absolute;
    top: 10px;
    right: 45px;
}

.uk-cursor-pointer {
    cursor: pointer;
}

.cheer_get_free {
    background: linear-gradient(272.07deg, #3AB3E7 1.74%, #1B73AB 98.26%);
    padding: 10px 0;
}

.wrap_cheer_free {
    display: flex;
}

.cheer_free_img, .cheer_free_form {
    width: 45%;
}

.wrap_cheer_form_mob h2, .wrap_cheer_form_mob {
    color: #fff;
}

.p_bottom {
    padding-bottom: 20px;
}

.cheer_btn_abs {
    position: absolute;
    bottom: 50px;
}

.cheer_btn_abs_mob {
    width: 100% !important;
    margin-bottom: 20px;
}

.cheer_free_form {
    padding: 30px 0;
}

.cheer_form_mob {
    width: 100%;
    min-height: 150px;
}

.cheer_sub {
    margin-top: 20px;
}

.wrap_cheer_form {
    width: 400px;
}

.wrap_cheer_form h2, .wrap_cheer_form {
    color: #fff;
    text-align: left;
}

.wrap_cheer_form h2 {
    margin-bottom: unset;
}

.help_with_group {
    background: linear-gradient(85.63deg, #77C8EB 0%, #C4E4F1 100%), linear-gradient(272.07deg, #3AB3E7 1.74%, #1B73AB 98.26%);
    padding: 10px 0;
}

.bg_fa {
    background-color: #FAFAFA;
}

.wrap_help_with_group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.help_group_text {
    width: 420px;
    text-align: left;
}

.help_group_text h2 {
    text-align: left;
    margin-bottom: unset;
}

.help_group_sub {
    margin-top: 15px;
}

.help_group_btn {
    margin-top: 40px;
}

.help_group_img img {
    height: 505px;
}


.head_hamburger {
    display: none;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    font-size: 11px;
}

.a_bread {
    color: #8FABBC;
}

.span_bread {
    color: #78B3D6;
}

.breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
    content: "/";
    color: #8FABBC;
    margin: 5px !important;
}

.pagination_change {
    background-color: #4285AB;
}

.pagination_change:hover {
    background-color: #31404a !important;
    border-color: #31404a !important;
}

.elipsis {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #636D79;
    margin: 0 15px 0 0;
}

.breadcrumb_sbory {
    color: #636D79;
}

.breadcrumb_sbory .span_bread {
    color: #B6B7B7 !important;
}

.why_container {
    width: 890px;
    margin: 0 auto;
}

.why_text {
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0px 9px 20px -13.9366px rgba(181, 191, 197, 1);
}

.why_text .title {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 110%;
    text-transform: uppercase;
    color: #636D79;
    /*margin-top: 20px;*/
}

.why_subtitle {
    margin-top: 15px;
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: #636D79;
}

.wrap_sbory_offer {
    width: 580px;
    background-color: #fff;
    padding: unset;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 1);
}

.wrap_sbory_offer .text_wrapper {
    margin: 30px;
}

.wrap_sbory_title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    text-transform: uppercase;
    color: #636D79;
}

.why_high {
    margin-top: 80px;
}

.sbory_list {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #F2F2F2;
}

.wrap_sub_day {
    font-family: 'Acrom';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 40px;
}

.wrap_safety {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

}

.safety_item {
    width: 16%;
}

.safety_text {
    padding: 10px;
}

.meal_item {
    width: 50%;
    padding: 10px 10px;
}

.flex {
    display: flex;
}

.meal_btn {
    margin-top: 25px;
}

.wrap_meal {
    background: #FFFFFF;
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 1);
    padding: 40px 30px;
}

.wrap_meal_list_ol li {
    font-weight: 400;
    color: #636D79;
    margin-top: 10px;
}

.wrap_choose_order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.wrap_order_item {
    margin: 0 20px;
}

.sbory_h3 {
    margin-top: 30px !important;
}

.sbory_h1 {
    margin-bottom: 10px;
}

.sbory_trainer {
    position: absolute;
    bottom: 0;
}

.trainer_padding {
    margin-bottom: 40px;
}

.blog_item h1 {
    color: #39464E;
    text-transform: uppercase;
}

.blog_item_description {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 45px;
}

.blog_item_section h2 {
    color: #636D79;
    font-size: 24px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
}

.blog_anchors {
    background-color: #EBF0F2;
    padding: 25px;
    font-weight: 700;
    margin-bottom: 30px;

}

.blog_anchors .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.blog_categories .title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.blog_categories .uk-label {
    text-transform: none;
    background-color: #78B3D6;
    color: #fafafa;
    font-size: 12px;
    font-weight: 400;
    padding: 2px 10px;
}

.blog_categories .uk-label.active {
    background-color: #ff5920;
}

.sub_header {
    z-index: 99999;
}

.blog_card {
    box-shadow: 0px 25px 20px -13.9366px rgba(181, 191, 197, 0.5);
}

.blog_card {
    font-size: 14px;
    font-weight: 400;
    color: #636D79;
}

.blog_card .date {
    font-size: 12px;
}

.blog_card .uk-card-body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog_card .uk-link {
    text-decoration: underline;
}

.blog_card .uk-link:hover, .blog_card .uk-link:active, .blog_card .uk-link:focus {
    text-decoration: none;
}

.blog_card .description {
    line-height: 1.3;
}

.blog_card h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #39464E;
    margin-top: 15px;
    margin-bottom: 10px;
}
.star_hovered {
    filter: grayscale(1);
    cursor: pointer;
}

.blog_categories .uk-label {
    margin-bottom: 5px;
}
.d_flex {
    display: flex;
}
.d_center {
    justify-content: center;
    align-items: center;
}
.btn-primary {
    background-color: #4099de;
    color: white;
    height: 2.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    line-height: 2.25rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    border: unset;
}
.btn-primary:hover {
    background-color: #297ec0;
}

/*
Dashboard
*/

.dash_head, .dash_body, .dash_item {
    justify-content: space-between;
}
.dash_edit div {
    margin-left: 10px;
    fill: currentColor;
    color: whitesmoke;
}
.dash_edit svg {
    fill: #b3b9bf;
}
.dash_container {
    width: 1200px;
    background-color: white;
    padding: 20px 0;
    margin: 0 auto;
}
.dash_head {
    background-color: #f4f7fa;
    font-weight: 800;
    font-size: .75rem;
    color: #7c858e;
    text-transform: uppercase;
    padding: 0.75rem;
    letter-spacing: .05em;
    border: solid 1px #e3e7eb;
}
.dash_body {
    padding: 10px;
}
.dash_item {
    margin: 5px 0;
}
.dash_id {
    width: 10%;
}
.dash_created {
    width: 20%;
}
.dash_slug {
    width: 50%;
}
.dash_status {
    width: 15%;
}
.dash_edit {
    width: 15%;
}
